<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
	<h1>Tomate la pastilla!!</h1>
	<p> Pastilla <%= @treatment.id %></p>
	<p>te tocaba hace unos minutos pero se nos olvido</p>
</body>
</html>