<nav class="current">
	<h1>Sign in</h1>
</nav>
<article id="sign-inp" class="current">
	<section>
		<%= form_for :user do |f| %>
			<%= f.email_field :email , placeholder:"email"%><br/>
			<%= f.password_field :password, placeholder:"password" %><br/>
			<button type="submit">submit</button>
		<% end %>
	</section>
</article>