<nav class="current">
	<a class='button edit' id='editButton'>Edit</a>
	<h1>Home</h1>
	<a class='button align-flush' id='addButton'><span class="icon-plus"></span></a>
 </nav>
 <article id="meds" class="current">
	<section>
		<ul class='list' id="med-list">
	    <li class='comp'>
	        <div>
	            <h3>People</h3>
	            <p>Your Friends</p>
	        </div>
	        <aside>
	            <span class='nav'></span>
	        </aside>
	    </li>
	    <li class='comp'>
	        <div>
	            <h3>Places</h3>
	            <p>Interesting Destinations</p>
	        </div>
	        <aside>
	            <span class='nav'></span>
	        </aside>
	    </li>
		</ul>
	</section>
</article>
